@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
    --font-calculator: "Orbitron", ui-monospace, monospace;
    --font-secondary: "Source Code Pro",ui-monospace,monospace;
}
@layer utilities {
    @keyframes fadeSlideIn {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-fadeSlideIn {
        animation: fadeSlideIn 0.4s ease-out;
    }
}

@custom-variant dark (&:where(.dark, .dark *));